<p>
    Vuelos Works!
</p>
<div class="navLinks">
    <a [routerLink]="['./main']">Main</a> |
    <a [routerLink]="['./mas-info']">Mas Info</a> |
    <a [routerLink]="['./',5]">Vuelo</a> 
</div>
<router-outlet></router-outlet>